button {
  outline: none;
  cursor: pointer;
  min-width: 200px;
  color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 15px;
  opacity: 0.4;
}

button[data-action="show"] {
  background-color: red;
}

button[data-action="hide"] {
  background-color: gray;
}

.active {
  opacity: 0.9;
}

.active:hover {
  opacity: 1;
}

div.list-container {
  overflow: hidden;
  transition: height 0.3s ease-out;
}

div.show {
  height: 200px;
}

div.hide {
  height: 35px;
}

ul li{
  height: 20px;
}
ul li.checked{
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0px;
}

/*
.header {
  background-color: #f7b0ab;
  padding: 30px 40px;
  color: white;
  text-align: center;
  width: 50%;
  height: 50px;
  border-radius: 20px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

h2{
  margin: 5px;
}

.addBtn {
  padding: 10px;
  position: relative;
  background: #d9d9d9;
  color:  rgb(177, 84, 84);
  float: ledt;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
}

.addBtn:hover {
  background-color: #bbb;
}

input {
  margin: 0;
  border: none;
  border-radius: 20px;
  width: 75%;
  padding: 10px;
 
  font-size: 16px;
}*/